{% for author in authorList %}
<ul>
    <li>
            <a href="{{ path('author_show', {'id': author.id}) }}"
            >{{ author.name ~ ' ' ~ author.lastName  }}<br> </a>
    </li>
</ul>
{% endfor %}
