{% for book in bookList %}
        <ul>
                <li>
                        <a href="{{ path('book_show', {'id': book.id}) }}"
                        >{{ book.title }} </br> </a>
                </li>
        </ul>
{% endfor %}