{#{% if books %}#}
{#    <div class="sidebar-heading font-weight-bold">#}
{#        <a{{ render(controller(#}
{#                'App\\Controller\\BookController::random'#}
{#            )) }}class="btn btn-primary">RNG book</a>#}
{#    </div>#}
{#{% endif %}#}