{% extends 'base.html.twig' %}

{% block title %}Add image to gallery{% endblock %}

{% block body %}
    <h1>Add image to gallery</h1>
    {{ include('product/gallery/_form.html.twig') }}
{% endblock %}