<ul>
    {% for category in productCategories %}
        <li>
            <a href="{{ path('product_category_show', {'id': category.id}) }}"
            >{{ category.name }}</a>
        </li>
    {% endfor %}
</ul>
