{% extends 'base.html.twig' %}

{% block title %}{% trans %}New ProductCategory{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Create new ProductCategory{% endtrans %}</h1>

    {{ include('product_category/_form.html.twig') }}

    <a class="btn btn-primary"  href="{{ path('product_category_index') }}"  role="button">{% trans %}Back to list{% endtrans %}</a>
{% endblock %}
