{% extends 'base.html.twig' %}

{% block title %}{% trans %}Adding images to gallery{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Add image to gallery{% endtrans %}</h1>
    {{ include('product/images/_form.html.twig') }}
{% endblock %}