{% extends 'base.html.twig' %}

{% block title %}Adding images to gallery{% endblock %}

{% block body %}
    <h1>Add image to gallery</h1>
    {{ include('product/images/_form.html.twig') }}
{% endblock %}